DATABASE_URL=postgresql://portal:portal@localhost:5432/{{APP_NAME_SLUG}}?schema=public
NEXTAUTH_URL=http://localhost:3000
AUTH_MICROSOFT_ENTRA_ID_CLIENT_ID=replace-me
AUTH_MICROSOFT_ENTRA_ID_CLIENT_SECRET=replace-me
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID=replace-me
